@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

h1{
  font-family: 'Train One', cursive;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}


div#new-item-form{
  display: flex;
}

div.frame_and_fork {
  display: flex;
  flex-direction: column;
}

div.headset{
  display: flex;
  flex-direction: column;
}

div.bottom-row{
  display: flex;
}

div.seat{
  display: flex;
  flex-direction: column;
}

div.crankset{
  display: flex;
  flex-direction: column;
}

div.wheels{
  display: flex;
  flex-direction: column;
}

li{
  list-style-type: none;
}


img#frame1{
  border: 20px;
  border-color: white;
  border-radius: 30px;
}

img.bmx{
  background-color: aqua;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
